<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		<h1 class="h2">Reportes</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			
		</div>
	</div>
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 products row">
		<div class="col-12">
			<div class="col-6">
				<p>
					Reporte de Cantidad de Facturas realizadas por Mes.
				</p>
				<canvas id="CantBillMont">
				</canvas>
			</div>
		</div>
		
	</div>
</main>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left" style="text-transform: capitalize;">{{action}} Producto</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    modal
  </div>
</ng-template>
