<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		<h1 class="h2">Empleados</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group mr-2">
				<button (click)="agregar(template)" class="btn btn-sm btn-outline-secondary"><svg _ngcontent-c3="" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" height="24" preserveAspectRatio="xMidYMid meet" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-c3="" fill="none" stroke="#626262" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path _ngcontent-c3="" d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><path _ngcontent-c3="" d="M17 21v-8H7v8"></path><path _ngcontent-c3="" d="M7 3v5h8"></path></g><rect _ngcontent-c3="" fill="rgba(0, 0, 0, 0)" height="24" width="24" x="0" y="0"></rect></svg> <p _ngcontent-c3="" style="display: block;margin-top: -7px !important;margin-bottom: 4px;">Agregar</p></button>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 products row">
		<ul class="col-12 items-list">
			<li>
				<div class="col-12 row">
					<div class="col-sm-3 col-6">
						<p>Nombre</p>
					</div>
					<div class="col-sm-2 d-none d-sm-block text-center">
						<p>Telefono</p>
					</div>
					<div class="col-sm-3 d-none d-sm-block text-center">
						<p>Correo</p>
					</div>
					<div class="col-sm-4 col-6 text-center">
						<p>
							Acciones
				        </p>
					</div>
				</div>
			</li>
			<li *ngFor="let usuario of usuarios; index as i" class="" [class.pair]="i%2==0">
				<app-usuario-display [usuario]='usuario' (borrarUsuario)="borrarUsuario($event)" (editarUsuario)="editarUsuario($event)" (actualizarLista)="actualizarLista($event)" class=""></app-usuario-display>
			</li>
		</ul>
	</div>
</main>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left" style="text-transform: capitalize;">{{action}} Empleado</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-usuario-agregar [action]="action" (close)="actualizarLista();modalRef.hide()"></app-usuario-agregar>
  </div>
</ng-template>
